.content-center {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 50px 0;
  flex-direction: column;
}
.content-center h2 ,.table-responsive h4{
  border-bottom: 2px solid salmon;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
}
#message {
  padding: 5px;
}
.disbaled{
  pointer-events: none;
  opacity: 0.6;
}
.enable{
  pointer-events: inherit;  
}
#clr{
  border-left: 1px solid black;
}
.greetings{
  border-bottom: 2px solid salmon;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  text-align: center;
  border-width: 50px;
}
.table-responsive h4{
  letter-spacing: 0.4em;
  padding-bottom: 7px;
  margin-bottom: 7px;
}